#mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: white;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-family: 'Muli';
    font-weight: 200;
    letter-spacing: 1px; 
  }

  .navbar-brand {
    margin-right: 0px;
  }

  #mainNav .navbar-brand {
    font-family: 'Muli';
    font-weight: bold;
    letter-spacing: 1px; 
  }

    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: rgb(98, 126, 241); 
  }

  #mainNav .navbar-toggler {
    font-size: 18px;
    padding: 12px 16px;
    color: #222222; 
  }

  #mainNav .navbar-nav > li > a {
    font-size: 20px;
    font-family: 'Muli';
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  #mainNav .navbar-nav > li > a.active {
    color: black !important;
    background-color: transparent;
    font-weight: bold;
    margin: auto;
    /* text-decoration: underline; */
  }

  #mainNav .navbar-nav > li > a.active:hover {
    background-color: transparent; 
  }

  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #222222; 
  }

  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: rgb(98, 126, 241); 
    cursor: pointer;
  }

  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent; 
    }

    #mainNav .navbar-brand {
      color: white;
      color: fade(white, 70%); 
    }
    
    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
      color: white; 
    }

    #mainNav .navbar-nav > li > a,
    #mainNav .navbar-nav > li > a:focus {
      color: rgba(255, 255, 255, 0.7); 
    }
        
    #mainNav .navbar-nav > li > a:hover,
    #mainNav .navbar-nav > li > a:focus:hover {
      color: white;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      overflow: hidden;
    }

    #mainNav .navbar-nav > li > a:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 100%;
      bottom: 0;
      background: white;
      height: 4px;
      -webkit-transition-property: right;
      transition-property: right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }

    #mainNav .navbar-nav > li > a:hover:before, #mainNav .navbar-nav > li > a:focus:before, #mainNav .navbar-nav > li > a:active:before {
      right: 0;
    }
    
    #mainNav.navbar-shrink {
      border-color: rgba(34, 34, 34, 0.1);
      background-color: white; 
    }
    
    #mainNav.navbar-shrink .navbar-brand {
      color: #222222; 
    }
          
    #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
      color: #529ffd; 
    }
        
    #mainNav.navbar-shrink .navbar-nav > li > a,
    #mainNav.navbar-shrink .navbar-nav > li > a:focus {
      color: #222222; 
    }
          
    #mainNav.navbar-shrink .navbar-nav > li > a:hover,
    #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
      color: black;
      font-weight: bold;
      margin: auto;
      color: black;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      overflow: hidden;
     } 
  }

    #mainNav.navbar-shrink .navbar-nav > li > a:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 100%;
      bottom: 0;
      background: black;
      height: 4px;
      -webkit-transition-property: right;
      transition-property: right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    
    #mainNav.navbar-shrink .navbar-nav > li > a:hover:before, #mainNav.navbar-shrink .navbar-nav > li > a:focus:before, #mainNav.navbar-shrink .navbar-nav > li > a:active:before {
      right: 0;
    }

  .navbar-light .navbar-brand {
    color: black;
  }

  .fa-bars {
    margin-left: 0.5rem;
  }