header.masthead {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: white;
    background: url("./img/bg-pattern.png"), white;
    background: url("./img/bg-pattern.png"), -webkit-linear-gradient(to left, rgb(23, 139, 193), rgb(56, 69, 74));
    background: url("./img/bg-pattern.png"), linear-gradient(to left, rgb(23, 139, 193), rgb(56, 69, 74));
    /* height: 100vh;  */
  }
  header.masthead .header-content {
    margin-bottom: 100px;
    text-align: center; 
  }
  header.masthead .header-content h1 {
      font-size: 50px;
      font-family: 'Muli';
  }
  header.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto; 
  }
  header.masthead .device-container .screen img {
      border-radius: 3px; 
  }
  
  @media (min-width: 992px) {

    header.masthead {
      height: 100vh;
      min-height: 775px;
      padding-top: 0;
      padding-bottom: 0; 
    }
    header.masthead .header-content {
      margin-bottom: 0; 
    }
    header.masthead .header-content h1 {
      font-size: 75px; 
    }
    header.masthead .device-container {
      max-width: 325px; 
    }

  }

  .my-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .welcome-ste {
    margin-top: 3rem;
  }

  .welcome-text {
    font-size: 20px;
  }

  .ste-text {
    font-weight: bold;
  }

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  }

  #ste-learn {
    margin-top: 30px;
    font-size: 14px;
    border-radius: 3px;
  }

  #ste-learn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#ste-learn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#ste-learn:hover, #ste-learn:focus, #ste-learn:active {
  color: black;
  font-weight: bold;
}

#ste-learn:hover {
  cursor: pointer;
}

#ste-learn:hover:before, #ste-learn:focus:before, #ste-learn:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}