section.features .section-heading {
    margin-bottom: 100px; 
  }
  
section.features .section-heading h2 {
    margin-top: 0; 
  }
  
section.features .section-heading p {
    margin-bottom: 0; 
  }

section.features .device-container,
section.features .feature-item {
    max-width: 325px;
    margin: 0 auto;
  }

section.features .device-container {
    margin-bottom: 100px; 
  }

  @media (min-width: 992px) {
    section.features .device-container {
        margin-bottom: 0; 
      } 
    }

section.features .feature-item {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center; 
  }
  
section.features .feature-item h3 {
    font-size: 40px; 
  }
    
section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(to left, #000000, #249fdc);
    background: linear-gradient(to left, #000000, #249fdc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }

#services-hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  }
  
  .services-h3 {
    /* color: white; */
  }

  #services-text-id {
    filter: brightness(100%);
    /* color: white; */
  }

  .services-info-text {
    /* color: white; */
  }

  .unmatched-services {
    font-size: 4rem;
  }

  .col-lg-6 {
    transition: .7s;
    -webkit-transition: .7s;
    /* padding: 30px; */
  }

  .col-lg-6:hover {
    /* background: red; */
    transform: scale(1.2);
  }

  #cnc-machining-box {
    filter: brightness(30%);
    background-size: cover;
    background-image: url('https://qph.fs.quoracdn.net/main-qimg-3df6a1473b7a1e8137c7972be68801e8');
  }

  #milling-box {
    filter: brightness(30%);
    background-size: cover;
    background-image: url('https://qph.fs.quoracdn.net/main-qimg-3df6a1473b7a1e8137c7972be68801e8');
  }

  #turning-box {
    filter: brightness(30%);
    background-size: cover;
    background-image: url('https://qph.fs.quoracdn.net/main-qimg-3df6a1473b7a1e8137c7972be68801e8');
  }

  #prototype-box {
    filter: brightness(30%);
    background-size: cover;
    background-image: url('https://qph.fs.quoracdn.net/main-qimg-3df6a1473b7a1e8137c7972be68801e8');
  }
  